@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "OpenSauceOneRegular";
    src: url("../fonts/OpenSauceOne-Regular.ttf");
}

body{
    font-family:"OpenSauceOneRegular";
}